{% extends "home.html" %}

{% block title %} Complex Query 4 {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home_edit.css') }}">
{% endblock %}

{% block container %}
<div id="bg1">
    <h2>Complex Query 4</h2>
</div>
<form method="POST">
    <div class="flex-container">
        <div class="scrollbar">
            <p>The name of the teams whose players average grade is greater than the average grade of all te players of that sport</p>
            <br>
            <form action="/edit_database_university" method="POST">
                <button type="submit" class="btn btn-outline-light" href="/simple_queries3" name="complex" value="q1">Run</button>
            </form>
        </div>

        {% if acc != 0%}
        <div class="scrollbar">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Average</th>
                </tr>
                {% for i in range(0,n,2) %}
                <tr>
                    <td>{{acc[i]}}</td>
                    <td>{{acc[i+1]}}</td>
                </tr>
                {% endfor%}
            </table>
        </div>
        {% endif %}

    </div>
</form>

{% endblock %}