{% extends "base.html" %}

{% block title %} Home | UST {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block bara %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/change_password">Change password</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" href="/delete_account">Delete account</a>
        </li>
    </ul>
{% endblock %}

{% block container%}
    <div id="bg1">
        <h2>Welcome</h2>
        <p><i>'I've accomplished more than I ever dreamed. But I'm hungry for more.' - Lewis Hamilton </i></p>
    </div>
{% endblock %}
