.header{
    background-image: linear-gradient(rgba(6, 8, 20, 1), rgba(19, 101, 117, 0.73)),url('images/img1.jpg');
    background-size: cover;
    backface-visibility:hidden;
    min-width: 1024px;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    overflow: hidden;
    opacity: 0.7; 
    background-position: absolute;
    background-repeat: no-repeat;
}

body{
    overflow: hidden;
    background-color: none;
}