.header{
    background-image: linear-gradient(rgba(6, 8, 20, 1), rgba(19, 101, 117, 0.73)),url('images/img1.jpg');
    background-size: cover;
    backface-visibility:hidden;
    min-width: 1024px;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    overflow: hidden;
    opacity: 1; 
    background-position: absolute;
    background-repeat: no-repeat;
}

html{
    overflow-y: scroll;
}

body{
    overflow-y: scroll;
    color: none;
    overflow: hidden;
    background-color: none;
}

.container{
    padding-top: 5%;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    color: #d9d9d9;
    background-color: none;
}